* {
    box-sizing: border-box;
}

html, body {
    padding: 20px;
}

Header{
    text-align: center;
    font-size: 90px;
    color:orange;
}

#table_1 {
    border: 10px solid violet;
 
}


.table_header {
    border: 10px solid violet;
    color: blue;
    font-size: 40px;
    font-weight: bold;
    
}

th{
    text-align: center;
    border: 10px double violet;
    color: blue;
    font-size: 40px;
    font-weight: bold;
}

td {
    border: 10px solid lightskyblue;
    color: black;
    font-size: 30px;
}




#add, #delete{
      margin-top:30px;
}

#add{
    margin-left: 800px;
}

#delete {
    margin-left: 20px;
}

.name, .item{
    padding-left: 30px;
}
.price{
    text-align: right;
    padding-right: 500px;
}